<?php
/**
 *
 * @var $block \Fluid\Template\Block\Store
 */

$myid = $block->getCmsID();
$cmsPageUrl = $block->getCmsUrl($myid);
$storeLanguage = $block->getLanguageCode();
$storecode = $block->getCmsStoresID();

if ($storecode === "0") {
?>
<h5> CMS Language:  <?php echo $storeLanguage; ?></h5>
<h5> CMS Url:  <?php echo $cmsPageUrl; ?></h5>
    <link rel="alternate" hreflang=“<?php echo $storeLanguage; ?>" href="<?php echo $cmsPageUrl; ?>" />
<?php } else echo "This page is not assigned to multi stores"; ?>